version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres_financeiro
    restart: always
    environment:
      POSTGRES_DB: financeiro
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5437:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
