// 🎨 Cores principais
$primary: #2e7d32;    // verde (entradas)
$secondary: #1565c0;  // azul
$accent: #f9c025;     // destaque

// ⚠️ Estados
$positive: #2e7d32;
$negative: #c62828;
$info: #d8b000f8;
$warning: #0c0c0cef;

// Fundo
$dark: #292929ee;
$dark-page: #1e1e1e;